<three-game>
  <three-scene>
    <three-ambient-light intensity="0.1"></three-ambient-light>
    <three-directional-light intensity="0.8"></three-directional-light>

    <three-gltf-asset url="/assets/models/spaceship/spaceship.gltf"></three-gltf-asset>

    <three-orbit-controls></three-orbit-controls>
  </three-scene>
</three-game>
