<three-game>
  <three-scene>
    <three-ambient-light intensity="1"></three-ambient-light>
    <three-mesh>
      <three-box-buffer-geometry></three-box-buffer-geometry>
      <three-mesh-standard-material color="hotpink"></three-mesh-standard-material>
    </three-mesh>
    <three-orbit-controls></three-orbit-controls>
  </three-scene>
</three-game>
